body{
    background: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#typing{
    animation: typing 5s steps(22)
    infinite alternate;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%
    }
}
#crow{
    width:100px;
    height:100px;
    background: url('path-to-crow-image.png') cem;
}